.header-content {
    height: 100px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    transition: all 0.3s ease-in-out;
}

h1:hover {
    text-shadow: 0 0 5px #eeeeee;
}

ul {
    list-style-type: none;
    height: 3rem;
    line-height: 3rem;
}

.header-links {
    display: flex;
    width: 30%;
    justify-content: space-around;
    align-items: center;
}

a {
    color: #fff;
}

li {
    width: 100%;
    height: 100%;
    text-align: center;

    cursor: pointer;

    transition: 0.3s all ease-in-out;
}

li:hover {
    background-color: #1a1a30;
    border-radius: 16px;
}

.underline-text {
    text-decoration: underline;
}

@media only screen and (max-width: 1200px) {
    
}

@media only screen and (max-width: 992px) {
    
}

@media only screen and (max-width: 768px) {

}

@media only screen and (max-width: 600px) {

    .header-content  {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    li {
        margin: 0 10px;
    }
}