<header>
    <div class="header-content">
        <a routerLink="/">
            <h1><span class="underline-text">Pla</span>y<span class="underline-text">Reviews</span></h1>
        </a>
        <ul class="header-links">
            <li routerLink="/">
                <a href="/">Home</a>
            </li>
            <li routerLink="/games">
                <a href="/games">Games</a>
            </li>
            <li routerLink="/about">
                <a href="/about">About</a>
            </li>
        </ul>
    </div>
</header>