<app-header></app-header>
<div class="new-game-form-content">
  <div class="content-text">
    <h1>Add a new game</h1>
    <p>Join the community of game enthusiasts and help others discover new games by adding your favorites to PlayReviews today!</p>
  </div>
  <form>
      <div>
        <label for="title">Title: *</label><br>
        <input type="text" id="title" name="title" [formControl]="title" required>
      </div>
      <div>
        <label for="description">Description:</label><br>
        <textarea id="description" name="description" [formControl]="description"></textarea>
      </div>
      <div>
        <label for="genre">Genre: *</label><br>
        <input type="text" id="genre" name="genre" [formControl]="genre" required>
      </div>
      <div>
        <label for="imageUrl">Image URL: *</label><br>
        <input type="text" id="imageUrl" name="imageUrl" [formControl]="imageUrl">
      </div>

      <button (click)="onSubmit()" type="submit">Create Game</button>
      <p>(*) required fields.</p>
  </form>
</div>