<app-header></app-header>

<div class="loading" *ngIf="!game">
    <h1>Error. Game not found.</h1>
    <a routerLink="/games">Go back</a>
</div>

<mat-tab-group>
    <mat-tab label="Game Details"> 
        <div class="game-details" *ngIf="game">
            <h1>{{ game.title }}</h1>
            <p><small>{{ game.genre }}</small></p>
            <img src="{{ game.imageUrl }}" alt="{{ game.title }}">
            <p>{{ game.description }}</p>

            <button [ngStyle]="{ 'background-color': 'green' }">Update</button>
            <button [ngStyle]="{ 'background-color': 'red' }" (click)="onDeleteGame()">Delete</button>
            
            <a routerLink="/games">
                <button>Go Back</button>
            </a>
        </div>
    </mat-tab>

    <mat-tab label="Reviews (0)"> REVIEWS GO HERE </mat-tab>
  </mat-tab-group>