<app-header></app-header>

<div class="about">
    <h1>About Us</h1>
    <p>Welcome to our game review site! We're passionate gamers ourselves, and we created this platform to share our thoughts and experiences about the games we've played. Our goal is to provide insightful and honest reviews that will help fellow gamers make informed decisions about which games to play. We also want to create a community where gamers can engage with each other, share their opinions, and discover new games to play. We hope you enjoy browsing through our reviews and joining in on the conversation!</p>
    <p class="version"><small>v.1.0.0</small></p>
</div>