/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    background: rgb(13,45,59);
    background: linear-gradient(121deg, rgba(13,45,59,1) 0%, rgba(26,63,92,1) 50%, rgba(48,97,145,1) 100%);
    background-attachment: fixed;
    color: #fff;
}

a {
    text-decoration: none;
}

.container {
    width: 80%;
    margin: 0 auto;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-mdc-tab-group.mat-background-primary, .mat-mdc-tab-nav-bar.mat-background-primary {
    --mat-mdc-tab-header-with-background-background-color: rgb(13,45,59);
    --mat-mdc-tab-header-with-background-foreground-color: #fff;
}